# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
web/.dart_tool/
web/.packages
web/build/

# Android related
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/local.properties
android/.idea/
android/*.iml
android/captures/

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/.idea/
ios/*.iml
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Coverage
coverage/

# Firebase / secrets (IMPORTANT)
*.jks
*.keystore
*.pem
*.p12
google-services.json
GoogleService-Info.plist
